<router-outlet></router-outlet>

<div>
<head>
  <title>Portfolio</title>
  <link rel="stylesheet" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <!-- hero section starts -->
  <div class="hero">
    <nav>
      <h2 class="logo">Portfo<span>lio</span></h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="aboutus">About</a></li>
        <li><a href="service">Services</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <a href="#" class="btn">See More</a>
    </nav>

    <div class="content">
      <h4>Hello, my name is</h4>
      <h2>Jincy <span>Jeevan</span></h2>
      <h3>I design & build user interfaces.</h3>
      <div class="newslatter">
        <form >
          <input type="email" name="email" id="mail" placeholder="Enter Your Email">
          <input type="submit" name="submit" value="Lets Start">
        </form>

      </div>

    </div>
  </div>

  <!-- About section starts -->
  <section class="about">
    <div class="main">
      <img src="../assets/cartoon3.jpg" alt="">
      <div class="about-text">
        <h2>About Me</h2>
        <h5>Full Stack<span>Developer</span></h5>
        <p>I am a full stack developer. I also make the website more and more interactive with web
          animations. I can provide clean code and pixel perfect design. A responsive
          design makes your website accessible to all users. </p>
           
          <button type="button">Let's Talk </button>
       
  </div>
    </div>
</section>

<!-- service section starts -->
<div class="service">
  <div class="title">
    <h2>Skills</h2>
  </div>

  <div class="box">
    <div class="card">
      <i class="fa-sharp fa-solid fa-graduation-cap"></i>
      <h5>Web Development</h5>
      <div class="pra">
        <p>Get trained in Java, HTML, CSS, Python, AJAX & more. Become a Full Stack Web Developer.
           Join Our Platform and Work on Projects.
            Interact with Experts. </p>
           
             <p style="text-align: center;">
               <a class="button" href="#"> Read More</a>
            </p>
          
          
            
      </div>

    </div>

    <div class="card">
      <i class="fa-sharp fa-solid fa-chalkboard-user"></i>
      <h5>Data Science</h5>
      <div class="pra">
        <p>Data Science has become the most demanding job of the 21st century.
           Every organization is looking for candidates with knowledge of data science.
            </p>
          
            <p style="text-align: center;">
              <a class="button" href="#">Read More</a>
            </p>
      </div>

    </div>

    <div class="card">
      <i class="fa-sharp fa-solid fa-laptop-file"></i>
      <h5>Machine Learning</h5>
      <div class="pra">
        <p>Machine Learning is the field of study that gives computers the capability
           to learn without being explicitly programmed.  </p>
          
            <p style="text-align: center;">
              <a class="button" href="#">Read More</a>
            </p>
      </div>

    </div>

  </div>

</div>

<!-- contact me -->
<div class="contact-me">
  <p>Curiosity and Inquisitiveness. Sometimes, things won’t out easily when coding. If your code doesn’t work, you should ask yourself why and continue digging until you can find the answer.
    Flexibility. You might have much knowledge on different programming languages and frameworks, however, in reality, the coding job can be unpredictable.</p>
  <a class="button-two" href="#">Know More</a>

</div>

<!-- footer -->
<footer>
<p>Get connected with</p>


<div class="social">
  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
  <a href="#"><i class="fa-brands fa-twitter"></i></a>
  <a href="#"><i class="fa-brands fa-square-instagram"></i></a>

</div>
<!-- <a class="button-three" href="#">More</a> -->
</footer>
</body>
</div>